//
// paddings for sections and rows

%padding-tiny {
  padding: rem-calc(8) 0;
}
%padding-smaller {
  padding: rem-calc(32) 0;
}
%padding-small {
  padding: rem-calc(48) 0;
}
%padding-medium {
  padding: rem-calc(64) 0;
}


// button in navigation

.top-bar-section ul li > .button.top-bar__button {
  top: rem-calc(-2);
  border: rem-calc(2) solid $oil;
  border-radius: rem-calc(4);
  height: auto;
  background-color: transparent;
  color: $oil;                                                                  // #333;
  padding: 0 0.9375rem;
  line-height: rem-calc(38);
  min-width: rem-calc(150)
}


// panels delux

.eugo__panel {
  min-height: rem-calc(240);
}
.eugo__panel--large {
  min-height: rem-calc(240);
  
  @media #{$medium-up} {
    min-height: rem-calc(336);
  }
}
.panel.eugo__panel,
.panel.eugo__panel--large {
  border: 0;
  background-color: $white;
  border-bottom: rem-calc(10) solid $black;
  text-align: center;
  padding-bottom: rem-calc(32);

  h5,
  .eugo__panel > :first-child {
    color: #062033;
    font-size: rem-calc(22);
    font-family: $body-font-family-medium;
    margin-top: rem-calc(16) * 3;
    margin-bottom: rem-calc(16);
  }
  p,
  .eugo__panel > :last-child {
    color: #062033;
    font-size: rem-calc(18);
    margin-top: rem-calc(16);
    // margin-bottom: rem-calc(16) * 2;

    // @media #{$medium-up} {
    //   margin-bottom: rem-calc(16) * 5;
    // }
  }
}
.eugo__panel--accessible,
.eugo__panel--click,
.eugo__panel--companies,
.eugo__panel--deal,
.eugo__panel--engine,
.eugo__panel--investors,
.eugo__panel--market,
.eugo__panel--network,
.eugo__panel--platform,
.eugo__panel--permissioning,
.eugo__panel--profit,
.eugo__panel--refine,
.eugo__panel--selection,
.eugo__panel--speed,
.eugo__panel--support {
  padding-top: rem-calc(160);
  background-position: center 50px;
  background-repeat: no-repeat;
  
  h5,
  .eugo__panel > :first-child {
    margin-top: 0;
    margin-bottom: inherit;
  }
  p,
  .eugo__panel > :first-child {
    margin-top: inherit;
    margin-bottom: inherit;
  }
}
.eugo__panel--accessible {
  background-image: url(/images/icon-accessible.png);
}
.eugo__panel--click {
  background-image: url(/images/icon-click.png);
}
.eugo__panel--companies {
  background-image: url(/images/icon-companies.png);
}
.eugo__panel--deal {
  background-image: url(/images/icon-deal.png);
}
.eugo__panel--engine {
  background-image: url(/images/icon-engine.png);
}
.eugo__panel--investors {
  background-image: url(/images/icon-investors.png);
}
.eugo__panel--market {
  background-image: url(/images/icon-market.png);
}
.eugo__panel--network {
  background-image: url(/images/icon-network.png);
}
.eugo__panel--platform {
  background-image: url(/images/icon-platform.png);
}
.eugo__panel--permissioning {
  background-image: url(/images/icon-premissioning.png);
}
.eugo__panel--profit {
  background-image: url(/images/icon-profit.png);
}
.eugo__panel--refine {
  background-image: url(/images/icon-refine.png);
}
.eugo__panel--selection {
  background-image: url(/images/icon-selection.png);
}
.eugo__panel--speed {
  background-image: url(/images/icon-speed.png);
}
.eugo__panel--support {
  background-image: url(/images/icon-support.png);
} 


// forms overrides

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
input[type="color"], 
textarea {
  border: 0;
  border-bottom: rem-calc(1) solid $iron;
}


// sections and their dance

section.block {
  // @extend %padding-medium;

  &.black {
    h1, h3, p {
      color: $white;
    }
    color: $white;
    background-color: $black;
  }

  &.white {
    background-color: $white;
  }

  &.gray {
    background-color: $gainsboro;
  }
}
section.block.hero-block {
  background-image: image-url('bg-image-a.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: auto;

  @media #{$medium-up} {
    min-height: rem-calc(600);
  }
  
  .hero-title {
    margin-top: 25%;

    h1, h4 {
      color: $white;
    }
  }
}

footer {
  background-color: $black;
  color: $white;

  .copyright {
    text-align: center;
    margin-top: rem-calc(8);
    @media #{$medium-up} {
      text-align: right;
      margin-top: rem-calc(24);
    }
  }

  .logo {
    background-image: url(/images/eugo-logo-light.png);
    background-repeat: no-repeat;
    background-position: left top;
    display: block;
    margin: 0 auto;
    margin-bottom: rem-calc(8);
    height: 70px;
    width: 46px;

    @media #{$medium-up} {
      // text-align: left;
      margin-bottom: 0;
    }
  }
}

// top-bar adjustments
.sticky.fixed {
  background-color: $white;
  border-bottom: 1px solid #ddd;
}

.top-bar .name h1 a.logo {
  height: 70px;
  width: 46px;
  margin-left: rem-calc(4);
  background-image: url(/images/eugo-logo.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.fixed .top-bar {
  height: rem-calc(62);
}

@media #{$small-only} {
  .top-bar, .top-bar ul.title-area {
    height: rem-calc(86);
  }
}

.top-bar .toggle-topbar.menu-icon {
  top: 0;
  margin-top: rem-calc(8);
}

.sticky.fixed .top-bar .name h1 a.logo {
  height: rem-calc(46);
}

.top-bar-section ul.right {
  margin-top: rem-calc(4);
}


// rows and sections, paddings

section.block {
  @extend %padding-medium;                                                      // 80p
}
section.block.hero-block {
  padding: 0;
  @media #{$medium-up} {
    padding: rem-calc(48) 0;                                                       // 48p
  }
}
footer {
  background-color: $black;
  @extend %padding-smaller;                                                     // 32p
}
.contain-to-grid .top-bar {
  @extend %padding-tiny;                                                        // 8px
}
// .sticky.fixed {
//   @extend %padding-tiny;
// }
.section__headings {
  @extend %padding-small;
}
.section__headings--about {
  @extend %padding-smaller;
}
.button-row {
  @extend %padding-smaller;
}
.hr-row {
  @extend %padding-medium;                                                      // 64px

  hr {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// generic

sup {
  font-size: 50%;
}
hr {
  border-color: $base;
}

// button

.button {
//   @extend button;
//   padding-bottom: $padding;
  min-width: rem-calc(200);
}
.button-cta {
  @extend button;
  background: $primary-color;
  width: rem-calc(200);
  margin-bottom: 0;
}

// abide overides

[data-abide] .error small.error,
[data-abide] .error span.error, 
[data-abide] span.error, 
[data-abide] small.error {
  font-size: 1rem;
  padding: rem-calc(8);
  padding-bottom: rem-calc(4);
}
