/**
 * @license
 * MyFonts Webfont Build ID 2968605, 2015-02-09T09:08:40-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: BrandonGrotesque-Medium by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/medium/
 * 
 * Webfont: BrandonGrotesque-Light by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/light/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2968605
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2d4c1d");

  
@font-face {font-family: 'BrandonGrotesque-Medium';src: url('webfonts/2D4C1D_0_0.eot');src: url('webfonts/2D4C1D_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D4C1D_0_0.woff2') format('woff2'),url('webfonts/2D4C1D_0_0.woff') format('woff'),url('webfonts/2D4C1D_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-Light';src: url('webfonts/2D4C1D_1_0.eot');src: url('webfonts/2D4C1D_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D4C1D_1_0.woff2') format('woff2'),url('webfonts/2D4C1D_1_0.woff') format('woff'),url('webfonts/2D4C1D_1_0.ttf') format('truetype');}
 