%section.block.hero-block
  .sticky.contain-to-grid
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            %a.logo{href: "#"}
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu
      %section.top-bar-section
        %ul.right
          %li
            %a{href: "#about"} About
          %li
            %a{href: "#investors"} Investors
          %li
            %a{href: "#companies"} Companies
          %li
            %a{href: "#scouts"} Scouts & Stakeholder
          %li
            %a.button.top-bar__button{href: "#apply"} Apply Now

  .row
    .columns.text-center.hero-title
      %h1 Finance & Investment
      %h4 Frankfurt, Germany

  .row.button-row
    .columns.text-center
      = link_to 'About Eugo', '#about', class: 'button button-cta'

%section.block.black.text-center#about
  .row.section__headings--about
    .large-8.large-centered.columns
      .row
        .columns
          %h1 The European Hub For SME Private Placements
          %p Connecting institutional investors, private companies, and stakeholders through a scientific, systematic, data-driven approach.
  
  .row
    .large-10.large-centered.columns
      .row
        .large-4.columns
          %h3 For Institutional Investors
          %p 
            Centralize Access
            %br
            Source Confidentially
            %br
            Streamline Due Diligence
          %p
            = link_to 'More information', '#investors'
        .large-4.columns
          %h3 For European Private Companies
          %p 
            Showcase International Investors
            %br
            Raise Capital
            %br
            Manage Investor Relations
          %p
            = link_to 'More information', '#companies'
        .large-4.columns
          %h3 For Scouts & Other Stakeholders
          %p 
            Enhance Market Influence
            %br
            Streamline Work Flow
            %br
            Collect Referrals
          %p
            = link_to 'More information', '#scouts'

%section.block.white.text-center
  .row.section__headings
    .large-7.large-centered.columns
      %h1 Central Access Point For Companies & Investors
      %p Eugo provides centralized, confidential private offerings for investors and access to transaction management and marketing tools for European companies.
  .row#counters
    .medium-6.large-3.columns
      .eugo__panel--network
        %h1.timer1
        %p 
          %strong Countries
    .medium-6.large-3.columns
      .eugo__panel--companies
        %h1.timer2
        %p 
          %strong Companies Profiled    
    .medium-6.large-3.columns
      .eugo__panel--investors
        %h1.timer3 10.000
        %p 
          %strong Institutional Investors    
    .medium-6.large-3.columns
      .eugo__panel--platform
        %h1.timer4 1
        %p 
          %strong Platform

%section.block.gray.text-center#investors
  .row.section__headings
    .large-8.large-centered.columns
      %h1 Features For Investors
      %p A one-stop shop for finding private deals across Europe for companies seeking both debt and equity offerings. Investing through Eugo works in just a few simple steps.
  .row
    %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4.need-equal-heights
      %li
        .panel.eugo__panel.eugo__panel--selection
          %h5 Input Selection Criteria
          %p 
            %strong Investment Criteria:
            Geography, Industry, Size, Stage
            %br
            %strong Investment Themes:
            Robotics, Internet of Things, Fighting Fight, Aging Population, Other
      %li
        .panel.eugo__panel.eugo__panel--engine
          %h5 Recommendation Engine
          %p Our recommendation engine identifies companies that meet your thematic and investment criteria
      %li
        .panel.eugo__panel.eugo__panel--refine
          %h5 Refine Portfolio Selection
          %p Intelligently weigh companies based on your specific asset allocation strategy and exposure criteria at the slide of a button
      %li
        .panel.eugo__panel.eugo__panel--click
          %h5 
            One click
            %sup TM
          %p 
            The "One Click"
            %sup TM
            feature allows you to invest in a portfolio of private companies or just one automatically
    
    %ul.small-block-grid-1.medium-block-grid-2.need-equal-heights
      %li
        .panel.eugo__panel
          %h5 Preferential Deal Flow
          %p All investment opportunities are sourced by leading local investors on an exclusive basis according to rigorous investment criteria.
      %li
        .panel.eugo__panel
          %h5 Confidentiality & Independence
          %p Eugo allows investors to choose if and when to reveal identity to the target company, other interested investors and stakeholders.

    %ul.small-block-grid-1.medium-block-grid-2.need-equal-heights
      %li
        .panel.eugo__panel--large
          %h5 Advanced Analytics
          %p 
            %strong Top Down: 
            Gain insight into a company's ability to grow within a macro-economic context including country, cluster, sector and value chain global competitiveness.
            %br
            %br
            %strong Bottom Up:
            Analyze and benchmark privately-held businesses against local, regional & global.
      %li
        .panel.eugo__panel--large
          %h5 Socially validated Deal Room
          %p Comprehensive financial and legal due diligence includes reputational feedback from employees, customers, and other stakeholders.

    .row.button-row
      .columns
        = link_to 'Apply now', '#apply', class: 'button'

    .row.hr-row    
      .columns
        %hr#companies


  .row.section__headings
    .large-8.large-centered.columns
      %h1 Features For Companies
      %p Showcase your company to international investors, get access to capital and manage your investor relations.

  .row
    %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4.need-equal-heights
      %li
        .panel.eugo__panel.eugo__panel--network
          %h5 Access to Investor Network
          %p Diversified investor network accross all investment types including endowments, family offices, pension funds, corporate venture, business angel networks, and venture capital firms Showcase to international investors
      %li
        .panel.eugo__panel.eugo__panel--speed
          %h5 Speed
          %p Instant notificiation of interested investors
      %li
        .panel.eugo__panel.eugo__panel--market
          %h5 Market Inteligence
          %p Access key facts and data about investment and industry trends Benchmark performance and valuation against peer group
      %li
        .panel.eugo__panel.eugo__panel--permissioning
          %h5 Permissioning
          %p Release as much of little company information you want based on your assessment of investor interest

    .row.button-row
      .columns
        = link_to 'Apply now', '#apply', class: 'button'

    .row.hr-row    
      .columns
        %hr#scouts

  .row.section__headings
    .large-10.large-centered.columns
      %h1 Features For Scouts & Other Stakeholders
      %p High profile, influential leaders or organisations who have invested significant financial (money), social (time and reputation) or intellectual (brains) capital in support small and medium-sized companies.


  .row
    %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4.need-equal-heights
      %li
        .panel.eugo__panel.eugo__panel--support
          %h5 Support Companies in Your Local Community
          %p Help create value for your local company's fundraising efforts Receive recognition from community and peers
      %li
        .panel.eugo__panel.eugo__panel--deal
          %h5 Improve Deal Process and Work Flow
          %p Central platform to support due diligence through a systematic assessment of a company's reputational strengs and weeknesses
      %li
        .panel.eugo__panel.eugo__panel--profit
          %h5 Profit
          %p Receive referral fees Highlight your value offerings to investors, small and medium-sized companies
      %li
        .panel.eugo__panel.eugo__panel--accessible
          %h5 Open & Accessible For
          %p 
            Incubators
            %br
            Accelerators
            %br
            Mentors
            %br
            Business Angel Networks
            %br
            Individual Investors
            %br
            Research Institutes
            %br
            Trade Associations
            %br
            Investment Promotion
            %br
            Agencies
            %br
            Media
            %br
            Other

    .row.button-row
      .columns
        = link_to 'Apply now', '#apply', class: 'button'

%section.block.white.text-center#apply
  .row.section__headings
    .columns
      %h1 Apply Now. You're Invited.
      %p
        %strong Enter your email below to apply for a membership to eugo.

  .row
    .columns
      #contact_form
        / Begin MailChimp Signup Form
        %link{:href => "//cdn-images.mailchimp.com/embedcode/classic-081711.css", :rel => "stylesheet", :type => "text/css"}/
        :css
          #mc_embed_signup{background:#fff; clear:left;}
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        %div
          %form.validate{:action => "//eugo.us9.list-manage.com/subscribe/post?u=fddec38d4be5211e37392b02d&id=7b74442fb8", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "novalidate", :target => "_blank", data: {abide: true}}
            .row
              .large-6.columns
                %select#mce-MTYPE.required.valid{"aria-invalid" => "false", "aria-required" => "true", :name => "MTYPE", required: true}
                  %option{:value => ""} Select Membership Type*
                  %option{:value => "Institutional Investor"} Institutional Investor
                  %option{:value => "European Company"} European Company
                  %option{:value => "Scout"} Scout
                  %option{:value => "Other Stakeholder"} Other Stakeholder
                / .mce_inline_error{:for => "mce-MTYPE", :style => "display: none;"} This field is required.
                %small.error.text-left Please select a Membership Type.
              .large-6.columns 
                %input#mce-EMAIL.required.email.mce_inline_error{"aria-invalid" => "true", "aria-required" => "true", :name => "EMAIL", :type => "email", :value => "", placeholder: "Your Email*", required: true, patter: :email}/
                / .mce_inline_error{:for => "mce-EMAIL", :style => "display: none;"} Please enter a valid email address.
                %small.error.text-left Please enter a valid email address.
              #mce-responses.clear
                #mce-error-response.response{:style => "display: none;"}
                #mce-success-response.response{:style => "display: none;"}
              / real people should not fill this in and expect good things - do not remove this or risk form bot signups
              %div{:style => "position: absolute; left: -5000px;"}
                %input{:name => "b_fddec38d4be5211e37392b02d_7b74442fb8", :tabindex => "-1", :type => "text", :value => ""}/
              .clear.text-center
                %input.button{:name => "subscribe", :type => "submit", :value => "Send", :style => "margin-top: 1.5rem;"}/
        %script{:async => "", :src => "//www.google-analytics.com/analytics.js"}
        %script{:src => "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", :type => "text/javascript"}
        :javascript
          (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='MTYPE';ftypes[1]='dropdown';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);
        / End mc_embed_signup

%footer
  .row
    .columns.medium-2
      %a.logo{href: "#"}
        -# %img{src: "/images/eugo-logo.png"}
    .columns.medium-10.copyright
      Copyright &#169; 2015 eugo. All rights reserved. Imprint

-# add google analytics from old static page
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57415538-1', 'auto');
  ga('send', 'pageview');


