!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title MyFontsWebfontsKit
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    /
      \/**
      * @license
      * MyFonts Webfont Build ID 2968605, 2015-02-09T09:08:40-0500
      *
      * The fonts listed in this notice are subject to the End User License
      * Agreement(s) entered into by the website owner. All other parties are
      * explicitly restricted from using the Licensed Webfonts(s).
      *
      * You may obtain a valid license at the URLs below.
      *
      * Webfont: BrandonGrotesque-Medium by HVD Fonts
      * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/medium/
      *
      * Webfont: BrandonGrotesque-Light by HVD Fonts
      * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/light/
      *
      *
      * License: http://www.myfonts.com/viewlicense?type=web&amp;buildid=2968605
      * Licensed pageviews: 10,000
      * Webfonts copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
      *
      * © 2015 MyFonts Inc
      */
    / 1. load the webfonts
    %link{:href => "stylesheets/MyFontsWebfontsKit.css", :rel => "stylesheet", :type => "text/css"}/
    / 2. set up some css styles using the webfonts
    :css
      .BrandonGrotesque-Medium { font-family: BrandonGrotesque-Medium; }
      .BrandonGrotesque-Light { font-family: BrandonGrotesque-Light; }
    / not relevant to webfonts. just example code highlighting.
    %link{:href => "stylesheets/layout.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #header
      %br/
      %img{:alt => "MyFonts Webfonts", :border => "0", :height => "66", :src => "stylesheets/header.png", :style => "padding-bottom: 12px;", :width => "720"}/
    #main_container
      #headline
        %h2.webfont-article-block MyFontsWebfontsKit
        .container-article
          %p{:style => "font-size:36px;line-height:40px;"}
            %span.BrandonGrotesque-Medium{:contenteditable => "true"} BrandonGrotesque-Medium
            %span.BrandonGrotesque-Light{:contenteditable => "true"} BrandonGrotesque-Light
      #webfont_instructions
        %h1 How To:
        %p
          The MyFonts Webfonts Kit is a collection of code and font files which allow all modern browsers to use webfonts in a standardized way.
          All you need to do is copy and paste some sample code, and make some edits to your CSS.  Three simple steps then you're on your way.
        %h2 1. Upload your Kit
        %p
          %strong Upload the contents of the Kit to your server.
          This is
          typically done using some type of FTP program — the same way that you upload images and other files
          to your website. Typically it is easiest if you upload all the files and folders to
          the root folder of your site.  You can alternately create a subfolder (or use an existing one) and put
          the Kit there, put them wherever you want.  Be sure to make note of the location you'll need it in step two.
        %p
          %em
            Note: You do not need to upload the
            %code StartHere.html
            file or
            the
            %code Start here files
            folder.
        %h2 2. Edit your site
        %p
          %strong Include a reference to the Kit.
          Locate the CSS file in the Kit’s main folder.  You should place a reference to this file in the
          %code head
          section of your website’s HTML code. Make
          sure that the reference appears on
          %strong all
          HTML pages of your site.
        %p
          This will link the webfonts from the Kit to your website.
          If you uploaded the Kit to the root folder of your site, then
          you can just copy and paste the code below into your site's
          = succeed "." do
            %code head
          If you uploaded the Kit to a
          subfolder, you’ll need to adjust the path to the font files in the CSS file.
        %pre
          %code.html
            :preserve
              &lt;!--
              /**
               * @license
               * MyFonts Webfont Build ID 2968605, 2015-02-09T09:08:40-0500
               * 
               * The fonts listed in this notice are subject to the End User License
               * Agreement(s) entered into by the website owner. All other parties are 
               * explicitly restricted from using the Licensed Webfonts(s).
               * 
               * You may obtain a valid license at the URLs below.
               * 
               * Webfont: BrandonGrotesque-Medium by HVD Fonts
               * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/medium/
               * 
               * Webfont: BrandonGrotesque-Light by HVD Fonts
               * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/light/
               * 
               * 
               * License: http://www.myfonts.com/viewlicense?type=web&amp;buildid=2968605
               * Licensed pageviews: 10,000
               * Webfonts copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
               * 
               * © 2015 MyFonts Inc
              */
              
              --&gt;
              &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;MyFontsWebfontsKit.css&quot;&gt;
        %h2 3. Edit your CSS
        %p
          %strong Now for the fun part!
          You'll need to assign the webfonts (font-family) to tags, classes and other CSS selectors.
          You need to decide where on your site you would like to use the webfonts.
          Using CSS, you can assign webfonts to specific areas of your site.
          There are several ways to do it, here are the basics and we’ll explore more advanced options in the 'Sample code' section below.
        %p
          A simple method is to make a new class selector and
          then assign the family names of the webfonts.  Whereever you want to use BrandonGrotesque-Light just assign the class in your HTML. Here’s how it is done:
        %pre
          %code.css
            :preserve
              .BrandonGrotesque-Medium { 
              	font-family: BrandonGrotesque-Medium;
              	font-weight: normal;
              	font-style: normal;
              }
              .BrandonGrotesque-Light { 
              	font-family: BrandonGrotesque-Light;
              	font-weight: normal;
              	font-style: normal;
              }
      #webfont_code
        %h1 Sample CSS
        %p
          %strong Lets look at some fancy
          ways you can use CSS &amp; CSS selectors to apply webfonts to your site!
          Have a look at our
          %a{:href => "http://webfonts.myfonts.com"} Webfont Showcase
          site for more tutorials, and examples of sites built using our webfonts.
        %p
          If you'd like to assign a font to the entire site, simply use the
          %code body
          tag selector in your stylesheet.
        %pre
          %code.css body { font-family: BrandonGrotesque-Light; }
        %p
          If you’d like all
          %strong headings
          to be formatted using this
          webfont, you need to assign it to the
          %code h1…h5
          elements.
          Remember to assign the weight and style of the font, especially if you don't have the entire family.
          Use the following CSS declaration in the stylesheet for your website:
        %pre
          %code.css
            :preserve
              h1, h2, h3, h4, h5 { 
              	font-family: BrandonGrotesque-Light; 
              	font-weight: normal; 
              	font-style: normal; 
              }        %p
          You can also assign the webfont to a specific HTML
          = succeed "," do
            %strong class
          which will allow
          you to easily mix different webfonts on the same page. Use the following CSS
          declaration in the stylesheet for your website:
        %pre
          %code.css
            :preserve
              .BrandonGrotesque-Light { 
              	font-family: BrandonGrotesque-Light;
              	font-weight: normal;
              	font-style: normal;
              }
        %p
          Then, use the class as follows in the
          %code body
          section of your HTML:
        %pre
          %code.html &lt;p class=&quot;BrandonGrotesque-Light&quot;&gt;Hello World!&lt;/p&gt;
        %p
          You can use any valid CSS selector (such as an HTML tag name, a class or an
          ID, or a combination of those) if you want to format a specific portion of the
          document.  There are tons of different things you can do with CSS, so have some fun!
      #webfont_troubleshooting
        %h1 Webfont Kit Troubleshooting
        %p
          %strong So it's not working, bummer.
          Here are some tricks and tips to make this process a little easier.
        %h3 Webfonts not working at all?
        %p
          This is usually a problem with the path to either your CSS file or the actual font files referenced by the CSS file.  Double check all your paths and make sure that you're pointing to the locations which you uploaded the kit to.
          It also might be worth double checking your CSS inside of a debugging tool such as Firebug (for Firefox) or Chrome Developer tools.
        %h3 Webfonts not working on an iPhone or other iDevice?
        %p
          This happens frequently when using IIS as a webserver. IIS will not serve file types (MIME types) it is unfamilar with, so
          you must set the MIME type for SVG to "image/svg+xml" in the server settings.
        %h3 Webfonts not working in Firefox or IE9+?
        %p
          Newer versions of Firefox and Internet Explorer have cross domain restrictions on font loading.
          This is a security feature which can get really frustrating if you're not aware of it.  The best thing to do is to host the font on the same domain,
          however if you have to host it on a different subdomain or on a CDN service you can get around this issue by adding a custom header, something like 'Access-Control-Allow-Origin: *'
          this
          %a{:href => "http://www.red-team-design.com/firefox-doesnt-allow-cross-domain-fonts-by-default/"} article
          explains it in detail.
          Your other option is to rebuild your webfont kit with Data URI encoded TTF's, it's an option under the Advanced section in our kit builder.
        %h3 The WOFF file isn't loading
        %p
          This happens frequently when using IIS as a webserver also, IIS will not serve file types (MIME types) it is unfamilar with, so
          you must set the MIME type for WOFF to "application/font-woff" in the server settings.
      #webfont_specimen
        .clearer &nbsp;
        .clearer &nbsp;
        .webfont-sample-block
          %p.BrandonGrotesque-Medium.webfont-sample{:style => "font-size:72px;"} BrandonGrotesque-Medium
        .webfont-sample-block.nowrap
          %p.BrandonGrotesque-Medium.webfont-sample{:style => "font-size:36px;"}
            %span> 36
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Medium.webfont-sample{:style => "font-size:30px;"}
            %span> 30
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Medium.webfont-sample{:style => "font-size:24px;"}
            %span> 24
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Medium.webfont-sample{:style => "font-size:21px;"}
            %span> 21
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Medium.webfont-sample{:style => "font-size:18px;"}
            %span> 18
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Medium.webfont-sample{:style => "font-size:14px;"}
            %span> 14
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Medium.webfont-sample{:style => "font-size:12px;"}
            %span> 12
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Medium.webfont-sample{:style => "font-size:10px;"}
            %span> 10
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
        .webfont-twocolumns
          %p.BrandonGrotesque-Medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nisi, fringilla nec pharetra ac, dictum eget lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam viverra lectus nec erat viverra gravida. Nulla leo dolor, tristique elementum tempor sed, malesuada eget libero. Praesent congue, ipsum nec elementum tristique, dui enim fermentum nunc, in eleifend felis arcu at nulla. In augue massa, lobortis in fermentum non, euismod vel libero.
        .webfont-twocolumns.last
          %p.BrandonGrotesque-Medium Mauris feugiat porta tincidunt. Cras eget dui diam, a viverra tortor. Proin dictum, diam ut vulputate imperdiet, enim nulla blandit est, in accumsan erat nisl in dolor. Nunc ante orci, tincidunt non luctus quis, congue a sem. Nulla non vehicula nisi. Vestibulum suscipit egestas massa eget convallis. Curabitur sapien magna, imperdiet eu consequat non, bibendum vel magna. Nulla neque lectus, lacinia vitae commodo scelerisque, tempus sit amet tellus. In semper arcu ut massa egestas posuere.
        .clearer &nbsp;
        .clearer &nbsp;
        .webfont-sample-block
          %p.BrandonGrotesque-Light.webfont-sample{:style => "font-size:72px;"} BrandonGrotesque-Light
        .webfont-sample-block.nowrap
          %p.BrandonGrotesque-Light.webfont-sample{:style => "font-size:36px;"}
            %span> 36
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Light.webfont-sample{:style => "font-size:30px;"}
            %span> 30
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Light.webfont-sample{:style => "font-size:24px;"}
            %span> 24
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Light.webfont-sample{:style => "font-size:21px;"}
            %span> 21
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Light.webfont-sample{:style => "font-size:18px;"}
            %span> 18
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Light.webfont-sample{:style => "font-size:14px;"}
            %span> 14
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Light.webfont-sample{:style => "font-size:12px;"}
            %span> 12
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
          %p.BrandonGrotesque-Light.webfont-sample{:style => "font-size:10px;"}
            %span> 10
            A very bad quack might jinx zippy fowls. Pellentesque ac felis eu tortor convallis iaculis vitae eget neque. Sed leo est, volutpat sed laoreet non, convallis at metus. Nam facilisis risus eget orci posuere sodales. Aliquam eleifend quam vel ipsum euismod aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut ultrices tellus. Aliquam quis metus diam, id commodo mi. Aenean ac urna mi, sit amet gravida lacus. Aliquam urna nunc, pulvinar vel egestas ac, tincidunt non dui. Maecenas in orci sit amet lacus mollis viverra eu vitae arcu. Vestibulum eros quam, viverra et fermentum ac, ultrices sit amet risus. Nulla tristique magna vel urna tempus cursus.
        .webfont-twocolumns
          %p.BrandonGrotesque-Light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nisi, fringilla nec pharetra ac, dictum eget lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam viverra lectus nec erat viverra gravida. Nulla leo dolor, tristique elementum tempor sed, malesuada eget libero. Praesent congue, ipsum nec elementum tristique, dui enim fermentum nunc, in eleifend felis arcu at nulla. In augue massa, lobortis in fermentum non, euismod vel libero.
        .webfont-twocolumns.last
          %p.BrandonGrotesque-Light Mauris feugiat porta tincidunt. Cras eget dui diam, a viverra tortor. Proin dictum, diam ut vulputate imperdiet, enim nulla blandit est, in accumsan erat nisl in dolor. Nunc ante orci, tincidunt non luctus quis, congue a sem. Nulla non vehicula nisi. Vestibulum suscipit egestas massa eget convallis. Curabitur sapien magna, imperdiet eu consequat non, bibendum vel magna. Nulla neque lectus, lacinia vitae commodo scelerisque, tempus sit amet tellus. In semper arcu ut massa egestas posuere.
        .clearer &nbsp;
