!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Kitchen Sink 
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    
    %link{:href => "stylesheets/all.css", :rel => "stylesheet", :type => "text/css"}

  %body{:style => "background-color: #ededed;"}
    %section

      .row
        .columns
          
          %h1#kitchen-sink Kitchen sink Delux
          %h3.subheader This page includes every single Foundation element so that we can make sure things work together smoothly.
      
      / nav snippet
      %hr
      .row
        .columns    
          %nav.top-bar{"data-topbar" => "", :role => "navigation"}
            %ul.title-area
              %li.name
                %h1
                  %a{:href => "#"} My Site
              / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
              %li.toggle-topbar.menu-icon
                %a{:href => "#"}
                  %span Menu
            %section.top-bar-section
              / Right Nav Section
              %ul.right
                %li.active
                  %a{:href => "#"} About
                %li
                  %a{:href => "#"} Investors
                %li.active
                  %a{:href => "#"} Companies
                %li
                  %a{:href => "#"} Scouts & Stakehoders
                %li
                  -# %a{:href => "#"} Apply Now
                  %a.button.top-bar__button{:href => "#"} Apply Now


                -# %li.has-dropdown
                -#   %a{:href => "#"} Right Button Dropdown
                -#   %ul.dropdown
                -#     %li
                -#       %a{:href => "#"} First link in dropdown
                -#     %li.active
                -#       %a{:href => "#"} Active link in dropdown
              / Left Nav Section
              -# %ul.left
              -#   %li
              -#     %a{:href => "#"} Left Nav Button

      / panel snippet
      %hr
      .row
        .columns 
          .panel
            %h5 This is a regular panel.
            %p It has an easy to override visual style, and is appropriately subdued.

     
      .row
        .columns 
          %ul.small-block-grid-1.medium-block-grid-1.large-block-grid-2
            %li
              .panel.eugo__panel
                %h5 This is eugo__panel.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li
              .panel.eugo__panel
                %h5 This is eugo__panel.
                %p It has an easy to override visual style, and is appropriately subdued.

      .row
        .columns 
          %ul.small-block-grid-1.medium-block-grid-1.large-block-grid-2
            %li
              .panel.eugo__panel--large
                %h5 This is eugo__panel-large.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li
              .panel.eugo__panel--large
                %h5 This is eugo__panel-large.
                %p It has an easy to override visual style, and is appropriately subdued.

  
      .row
        .columns 
          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
            %li
              .panel.eugo__panel.eugo__panel--accessible
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li             
              .panel.eugo__panel.eugo__panel--click
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--companies
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--deal
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--engine
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--investors
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--market
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--network
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--platform
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--premissioning
                %h5 This is eugo__panel--permissioning.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--profit
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--refine
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--selection
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--speed
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.
            %li    
              .panel.eugo__panel.eugo__panel--support
                %h5 This is eugo__panel--click.
                %p It has an easy to override visual style, and is appropriately subdued.

      / forms snippet
      %hr
      .row
        .small-12.small-centered.columns
          %form
            .row
              .large-12.columns
                %label
                  Input Label
                  %input{:placeholder => "Text here", :type => "text"}/
            .row
              .large-4.columns
                %label
                  Input Label
                  %input{:placeholder => "Text here", :type => "text"}/
              .large-4.columns
                %label
                  Input Label
                  %input{:placeholder => "Text here", :type => "text"}/
              .large-4.columns
                .row.collapse
                  %label Input Label
                  .small-9.columns
                    %input{:placeholder => "Domain", :type => "text"}/
                  .small-3.columns
                    %span.postfix .com
            .row
              .large-12.columns
                %label
                  Select Box
                  %select
                    %option{:value => "husker"} Husker
                    %option{:value => "starbuck"} Starbuck
                    %option{:value => "hotdog"} Hot Dog
                    %option{:value => "apollo"} Apollo
            .row
              .large-6.columns
                %label Choose Your Favorite
                %input#pokemonRed{:name => "pokemon", :type => "radio", :value => "Red"}
                  %label{:for => "pokemonRed"} Squirtle
                  %input#pokemonBlue{:name => "pokemon", :type => "radio", :value => "Blue"}
                    %label{:for => "pokemonBlue"} Charmander
              .large-6.columns
                %label Check these out
                %input#checkbox1{:type => "checkbox"}
                  %label{:for => "checkbox1"} Checkbox 1
                  %input#checkbox2{:type => "checkbox"}
                    %label{:for => "checkbox2"} Checkbox 2
            .row
              .large-12.columns
                %label
                  Textarea Label
                  %textarea{:placeholder => "small-12.columns"}

      / buttons
      / Size Classes
      %hr
      .row
        .large-12.columns
          %a.button.tiny{:href => "#"} Tiny Button
          %a.button.small{:href => "#"} Small Button
          %a.button{:href => "#"} Default Button
          %a.button.disabled{:href => "#"} Disabled Button
          %a.button.large{:href => "#"} Large Button
          %a.button.expand{:href => "#"} Expanded Button
          / Radius Classes
          %a.button.round{:href => "#"} Round Button
          %a.button.radius{:href => "#"} Radius Button

      / type
      %hr
      .row
        .columns
          %h1 h1. This is a very large header.
          %h2 h2. This is a large header.
          %h3 h3. This is a medium header.
          %h4 h4. This is a moderate header.
          %h5 h5. This is a small header.
          %h6 h6. This is a tiny header.

          %h1.subheader h1.subheader
          %h2.subheader h2.subheader
          %h3.subheader h3.subheader
          %h4.subheader h4.subheader
          %h5.subheader h5.subheader
          %h6.subheader h6.subheader
          
          %h1
            h1.
            %small Small segment header.
          %h2
            h2.
            %small Small segment header.
          %h3
            h3.
            %small Small segment header.
          %h4
            h4.
            %small Small segment header.
          %h5
            h5.
            %small Small segment header.
          %h6
            h6.
            %small Small segment header.

          %p
            This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap strong around type to
            = succeed "." do
              %strong make it bold!
            You can also use em to
            = succeed "." do
              %em italicize your words

          %p
            Links are very standard, and the
            %a{:href => "http://www.youtube.com/watch?v=zT2aVoUkSDg"} color is preset
            to the Foundation primary color.

          %ul.disc
            %li List item with a much longer description or more content.
            %li List item
            %li
              List item
              %ul
                %li Nested list item
                %li Nested list item
                %li Nested list item
            %li List item
            %li List item
            %li List item

          %ol
            %li List item with a much longer description or more content.
            %li List item
            %li
              List item
              %ol
                %li Nested List Item
                %li Nested List Item
                %li Nested List Item
            %li List item
            %li List item
            %li List item
          
          %dl
            %dt Definition Title
            %dd Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.

          %blockquote
            Those people who think they know everything are a great annoyance to those of us who do.
            %cite Isaac Asimov
